<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
    <param name="includeCallerData" value="true" />
    <param name="discardingThreshold" value="10" />
    <param name="queueSize" value="1024" />
    <appender-ref ref="CONSOLE" />
  </appender>

  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>